@import url("https://discordstyles.github.io/FrostedGlass/base.css");

/* Radial Status */
@import url("https://discordstyles.github.io/RadialStatus/base.css");

/* HorizontalServerList (HSL) */
@import url("https://discordstyles.github.io/HorizontalServerList/base.css");

/* BlackBox tags */
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");

/* Font Space Grotesk 400 & 700 */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

/* Blurple Recolor */
@import url('https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BlurpleRecolor/BlurpleRecolor.css');

/* Emoji Replace */
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/JoyPixels.css');

/* TypingAtTopOfChatBox */
@import url('https://tomrdh.github.io/discord-addons/xcores/themes/TATOCB_Core.css');

#app-mount .guilds-1SWlCJ .tutorialContainer-2sGCg9 .wrapper-1BJsBx:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  background: var(--home-button-image, url("https://raw.githubusercontent.com/CaffeJappa/frosted-stellaris/main/img/Paradox%20Branco.svg"));
  background-size: var(--home-button-size, cover);
  background-position: var(--home-button-position, center);
  height: 100%;
  width: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
